.App {
  display: flex;
  border: 1px solid #000;

}

.textarea {
  width: 50vw;
  height: 500px;
  padding: 20px;
  outline: none;
  max-height: 500px;
  overflow-y: scroll;
}

.display {
  width: 50vw;
  height: 100vh;
  padding: 20px;
  outline: none;
  max-height: 500px;
  overflow-y: scroll;
}